<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.ssmp.mapper.UserMapper">

    <select id="findUserAll" resultType="com.dj.ssmp.pojo.User">
        select * from user
        <where>
            <if test="user.userName != null and user.userName !='' ">
                user_name = #{user.userName}
            </if>
            <if test="user.sex != null ">
                and sex = #{user.sex}
            </if>
            <if test="split != null and split !='' ">
                <foreach collection="split" separator=" " item="aaa" >
                    and hobby like "%"#{aaa}"%"
                </foreach>
            </if>
        </where>
    </select>
</mapper>